streamlit
langchain
langchain-community
langgraph
langchain-google-genai
langchain-qdrant
fastembed
qdrant-client
opik
transformers==4.56.1
tokenizers
accelerate
langchain-huggingface
sentence-transformers